<nb-card>
    <nb-card-body style="border: none !important;;">
        <div class="row p-0">
            <div class="shadow bg-white dashboard rounded col-12 col-xl-2" style="border: 1px solid lightblue;">
                <div class="col-12 col-xl-12 col-lg-12 col-sm-12" style="min-height: 170px;">
                    <nb-icon style="font-size: 30px; position: absolute; top:70px ;left:50px" status="success"
                        icon="plus-outline"></nb-icon>
                </div>
                <span class="shadow ">Blank</span>
            </div>

        </div>
    </nb-card-body>
</nb-card>