.invalid{
    border: 1px solid #62c4ed;
    
}
.invalid-feedback{
    color: #62c4ed;
}
.initialImageFrame{
    width: 140px;
    height: 140px;
    border: 1px solid #000000;
    padding-top: .5px;
}
.userInfo{
    height:500px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 3px;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    cursor: pointer;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor: pointer;
  }
//   .register{
//     height: 00px;
    
//   }