<nb-card class="shadow pb-0 mb-1 p-3 bg-white rounded mt-0">
    <h4 class="p-0 m-0 d-flex">
        <span class="d-flex" *ngFor="let routerName of this.router_Name;let i=index">
            <span  >
                <span *ngIf="i!=0" class="pl-1 pr-1">|</span>
                <span [ngClass]="i==1? 'text-primary':'text-secondary'">{{routerName}}</span>
            </span>
        </span>
    </h4>
</nb-card>
<div class="container p-0">
    <div class="main-body">
        <div class="row">
            <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 ">
                <nb-card class="shadow p-0 m-0 bg-white rounded sideMenu" [size]="'medium'">
                    <div class="d-flex flex-column p-0 m-0">
                        <nb-menu [items]="setting_Menu" class="align-items-left text-left p-0 m-0"
                            (click)="setPageHeader()"></nb-menu>
                    </div>
                </nb-card>
            </div>
            <div class="col-12 col-xl-9 col-lg-9 col-md-9 col-sm-12  text-right ">
                <nb-card class="sideMenu">
                    <router-outlet></router-outlet>
                </nb-card>
               
            </div>
        </div>
    </div>
</div>