<nb-card class="shadow pb-0 mb-1 p-3 bg-white rounded">
    SETTING
</nb-card>
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 p-0 m-0">
                <nb-card class="shadow p-0 m-0 bg-white rounded">

                    <nb-card-body>

                        <div class="d-flex flex-column align-items-center text-center">
                            <nb-menu [items]="setting_Menu"></nb-menu>
                        </div>
                        <hr class="my-4">


                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-12 col-xl-9 col-lg-9 col-md-9 col-sm-12  pr-0 m-0 text-right">
                <nb-card class="shadow  bg-white rounded">
                    <nb-card-body>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="John Doe">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="john@example.com">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="(239) 816-9029">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="(320) 380-4539">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="Bay Area, San Francisco, CA">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="button" class="btn btn-primary px-4" value="Save Changes">
                            </div>
                        </div>

                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</div>