<nb-card class="shadow  bg-white rounded routerOutLet sideMenu text-left p-0 m-0" [size]="'medium'">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
                <div class="my-4">
                    <div class="panel panel-default">
                        <div class="panel-heading pb-2">
                            <h4 class="panel-title">Notifications Settings</h4>
                        </div>
                    </div>
                    <!-- <h5 class="mb-0 mt-5">Notifications Settings</h5> -->
                    <p>Select notification you want to receive</p>
                    <hr class="my-4" />
                    <strong class="mb-0">Security</strong>
                    <p>Control security alert you will be notified.</p>
                    <div class="list-group mb-5 shadow">
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">
                                    <strong class="mb-0">Unusual activity notifications</strong>
                                    <p class="text-muted mb-0">Donec in quam sed urna bibendum tincidunt quis mollis
                                        mauris.</p>
                                </div>
                                <div class="col-auto mt-3">
                                    <nb-toggle status="success"></nb-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">
                                    <strong class="mb-0">Unauthorized financial activity</strong>
                                    <p class="text-muted mb-0">Fusce lacinia elementum eros, sed vulputate urna eleifend
                                        nec.</p>
                                </div>
                                <div class="col-auto mt-3">
                                    <nb-toggle status="success"></nb-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="panel panel-default">
                        <div class="panel-heading pb-2">
                            <h4 class="panel-title">System</h4>
                        </div>
                    </div>
                    <p>Please enable system alert you will get.</p>
                    <div class="list-group mb-5 shadow">
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">
                                    <strong class="mb-0">Notify me about new features and updates</strong>
                                    <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                                <div class="col-auto mt-3">
                                    <nb-toggle status="success"></nb-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">
                                    <strong class="mb-0">Notify me by email for latest news</strong>
                                    <p class="text-muted mb-0">Nulla et tincidunt sapien. Sed eleifend volutpat
                                        elementum.</p>
                                </div>
                                <div class="col-auto mt-3">
                                    <nb-toggle status="success"></nb-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">
                                    <strong class="mb-0">Notify me about tips on using account</strong>
                                    <p class="text-muted mb-0">Donec in quam sed urna bibendum tincidunt quis mollis
                                        mauris.</p>
                                </div>
                                <div class="col-auto mt-3">
                                    <nb-toggle status="success"></nb-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nb-card>