<nb-card class=" pb-0 mb-1 p-3 bg-white rounded mt-0">
    <h4 class="p-0 m-0 d-flex">
        <span class="d-flex" *ngFor="let routerName of this.router_Name;let i=index">
            <span  >
                <span *ngIf="i!=0" class="pl-1 pr-1">|</span>
                <span [ngClass]="i==1? 'text-primary':'text-secondary'">{{routerName}}</span>
            </span>
        </span>
    </h4>
</nb-card>
<nb-card>
    <nb-card-body class="p-1">
        <nb-tabset>
            <nb-tab tabTitle="Personal chat" tabIcon="person-outline"  badgeText="1"
            badgePosition="top right"
            badgeStatus="success" responsive>
              <p>List of <strong>personal chat</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Group chat" tabIcon="people-outline"  badgeText=""
            badgePosition="top right"
            badgeStatus="success" responsive>
              <p>List of <strong>orders</strong>.</p>
            </nb-tab>
           
          </nb-tabset>
    </nb-card-body>
</nb-card>