// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';
// @import "~bootstrap-icons/font/bootstrap-icons.css";
@import '../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
*{
  font-family: 'Montserrat', sans-serif !important;
  
}
@import '../../../../node_modules/boxicons/css/boxicons.min.css';
// @import '~@ctrl/ngx-emoji-mart/picker';
@import '../../../../node_modules/@ctrl/ngx-emoji-mart/picker.css';
nb-select{
  .select-button{
      span{
          font-size: 13px !important;
      }
  }
}

// body {
//     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 13px;
//     color: #555;
//     background: #ececec;
//     margin-top:20px;
//   }
  
// .project-list > tbody > tr > td {
//     padding: 12px 8px;
//   }
  
//   .project-list > tbody > tr > td .avatar {
//     width: 22px;
//     border: 1px solid #CCC;
//   }
.active{
  color: #28a745;
}
.inActive{
 color: red;
}
// *{
//   font-size: 13px !important;
// }

td{
  vertical-align: inherit !important;
}